/*
    Dantri Website admin teamplate CSS
    Author: Le Truong Giang
    Date: 08/03/2020
    Last Modified Date: None
*/


/*
TABLE OF CONTENT
I) Start Variables Fonts CSS
II) Side bar CSS
1) Sidebar Style
2) Content Style
3) Reponsive Device
III) Form login
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2ff;
    font-family: sans-serif;
}


/* I) Start Variables Fonts CSS */

@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto-BlackItalic;
    src: url("../fonts/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("..");
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url("../fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: Roboto-Italic;
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

:root {
    --Font-Rob-Bla: Roboto-Black;
    --Font-Rob-BlaI: Roboto-BlackItalic;
    --Font-Rob-Bol: Roboto-Bold;
    --Font-Rob-BolI: Roboto-BoldItalic;
    --Font-Rob-Ita: Roboto-Italic;
    --Font-Rob-Lig: Roboto-Light;
    --Font-Rob-LigI: Roboto-LightItalic;
    --Font-Rob-Med: Roboto-Medium;
    --Font-Rob-MedI: Roboto-MediumItalic;
    --Font-Rob-Reg: Roboto-Regular;
}


/* End variables Fonts CSS */


/* II) Sidebar CSS */

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* 1) Sidebar Style */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    font-family: var(--Font-Rob-Reg);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 16px;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(107, 181, 250);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.active-page span {
    font-size: 12px;
    font-family: var(--Font-Rob-Med);
}

svg.svg-inline--fa.fa-home.fa-w-18.active-icon {
    color: #17a2b8;
}


/* ul.list-unstyled a {
    font-family: var;
} */


/* 2) Content Style */

.admin-login-images img {
    width: 60px;
}

.admin-name p {
    font-family: var(--Font-Rob-Med);
    font-size: 19px;
}

svg.svg-inline--fa.fa-circle.fa-w-16.fa-xs {
    color: #11ff00;
}

.active-online span {
    font-size: 14px;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.table-content p {
    font-size: 18px;
    font-family: var(--Font-Rob-Bol);
}


/* 3) Reponsive Device */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* III) Form login */

.form-container {
    max-width: 500px;
}

.container-wrapper {
    margin: 80px;
}

.form-signin {
    max-width: 380px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 15px 40px 50px;
    border: 1px solid #858585;
    border-radius: 10px;
}

.form-signin h2 {
    font-family: var(--Font-Rob-Med);
}

.form-signin .checkbox {
    font-family: var(--Font-Rob-Lig);
    font-size: 14px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    margin-bottom: 20px;
}
